body
{
  background-color: #000000;
  overflow: hidden;
}

.container {
  background: #FFFFFF;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 150px;
  margin-left: -200px;
  margin-top: -100px;
  text-align: center;
}

#question
{
  background: #FFF;
  width: 200px;
  text-align: center;
}

button
{
  display: block;

}
